[v-cloak]{
	display: none;
}

.container{
	width: 950px;
	background: #fff;
	padding: 20px 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .title{
    color: #09bc72;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.container .insert_panel{
	margin: 40px auto;
	border-bottom:  #ccc 1px dotted;
}

.container .update_panel{
	margin-top: 60px;
}
