var split = function(value){
   if (value != undefined && value != null &&  value.indexOf("T") >= 0) {
      return value.split("T")[0];
   }
}
var includeType = function(value){
   if (value != undefined && value != null) {
      if (value.indexOf("pdf") >= 0 || value.indexOf("video") >= 0 || value.indexOf("h5") >= 0) {
         return true;
      } else {
         return false;
      }
   }
}
module.exports.split = split;
module.exports.includeType = includeType;