<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="public/css/src/login.css" />
  </head>
  <body>
    <form class="" action="/login" method="post">
      <div class="loginPanel">
        <div><input type="text" name="username" value=""></div>
        <div><input type="password" name="password" value=""></div>
        <div>
          <input type="submit" name="loginBtn" value="登录">
          <input type="button" name="cancelBtn" value="取消">
        </div>
      </div>
    </form>

  </body>
</html>
