<!-- 作业荚 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>pinwall</title>
		<link rel="stylesheet" type="text/css" href="../public/css/src/base.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/lib/iview.css">
		<link rel="stylesheet" type="text/css" href="../public/css/src/projects.css"/>
	</head>
	<body>
		<div class="projects" v-cloak :style="projectStyle">

			<div class="zan_box">
				<a href="#">
						<!-- http://pinwall.design-engine.org/images/app/flag_green.png -->
					<img src="http://pinwall.design-engine.org/images/app/flag_gray.png" alt="">
					<icon type="ios-thumbs-up" style="font-size: 40px; position: absolute;top: 15px;left: 20px;"></icon>
					<span>赞</span>
				</a>
			</div>
			<ul>
				<li>
					<i-button shape="circle" icon="md-create" size="large" style="position: absolute;top: 130px;left: 40px;width: 40px;height: 40px;font-size: 20px;"></i-button>
				</li>
				<li>
					<i-button shape="circle" icon="ios-trash" size="large" style="position: absolute;top: 180px;left: 40px;width: 40px;height: 40px;font-size: 20px;"></i-button>
				</li>
			</ul>
			<i-button class="close_btn" type="default" shape="circle" icon="md-close" size="large" @click="closeThePage"></i-button>
            <div class="project_detail">
                <div class="stats_tags">
                    <div class="badges">
						<icon type="ios-ribbon" style="font-size: 22px;color:#999;"></icon>
                        <span>{{data.medalCount}}</span>
                    </div>
                    <div class="likes">
						<icon type="ios-thumbs-up" style="font-size: 22px;color:#999;"></icon>
                        <span>{{data.likeCount}}</span>
                    </div>
                    <div class="comments">
						<icon type="md-text" style="font-size: 20px;color:#999;"></icon>
                        <span>{{data.commentCount}}</span>
                    </div>
                </div>
                <div class="user_info">
                    <a href="#">
						{% if data.user.avatarUrl %}
						<img class="photo" src="{{data.user.avatarUrl}}" alt="">
						{% else %}
                        <img class="photo" src="http://pinwall.design-engine.org/images/default_profile.jpg" alt="">
						{% endif %}
                        <p class="name">{{data.user.fullname}}</p>
                    </a>
                </div>
                <h2>{{data.name}}</h2>
                <p class="publishtime">
                    {{data.createAt}}，收录于
						{% for item in data.topics %}
	                    	<a href="#">{{item.name}}</a>
						{% endfor %}
                </p>
                <p class="abstract">
                    {{data.description}}
                </p>

	            <div class="main_content">
					{% for item in data.artifact_assets %}
						{% if item.viewUrl %}
							<figure>
								<i-button shape="circle" icon="md-arrow-dropright-circle" size="large" style="position: absolute;margin-left: 10px;margin-top: 10px;"></i-button>
								<a href="{{item.mediaFile}}" target="_blank">
									<img src="{{item.profileImage}}" alt="">
								</a>
							</figure>
						{% else %}
							<figure>
								<img src="{{item.profileImage}}" alt="">
							</figure>
						{% endif %}
					{% endfor %}
	            </div>
            </div>
			<div class="comment_box">
				<ul class="comment_list">
					<li  v-show="userId" v-for="item in dataList">
						<div class="user_info">
							<a :href="'user/'+item.user.Id">
								<img class="photo" :src="item.user.avatarUrl ? item.user.avatarUrl : 'http://pinwall.design-engine.org/images/default_profile.jpg'">
							</a>
						</div>
						<div class="comment_wrapper">
							<a href="#" class="name">${ item.user.fullname }</a>
							<i-button class="delete_comment" type="error" shape="circle" icon="md-trash" @click="deleteComment(item.Id)"></i-button>
							<p class="comment">${item.content}</p>
						</div>
					</li>
				</ul>
				<div class="comment_form" v-show="userId">
					<div class="user_info">
						<a href="#">
							<img class="photo" src="http://pinwall.design-engine.org/images/default_profile.jpg" alt="">
						</a>
					</div>
					<div class="comment_wrapper">
						<a href="#" class="name">李灵</a>
						<i-form>
							<form-item>
								<i-input v-model="commentValue" type="textarea" placeholder="您的评论……" /><br>
							</form-item>
							<form-item>
								<i-button type="success" @click="addComment">提交</i-button>
							</form-item>
						</i-form>
					</div>
				</div>
				<div class="comment_form" v-show="!userId">
					<i-button type="warning" @click="login">发表评论前请先登录</i-button>
				</div>
			</div>
			<div class="footer">
				<p>© 湖南大学设计艺术学院，保留所有权利。</p>
			</div>
		</div>

		<script type="text/javascript" src="../public/js/lib/jquery.min.js"></script>
	    <script type="text/javascript" src="../public/js/lib/vue.min.js"></script>
	    <script type="text/javascript" src="../public/js/lib/iview.min.js"></script>
	    <script type="text/javascript" src="../public/js/src/projects.js"></script>
	</body>
</html>
