<!-- 作业荚 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>图钉墙-HNU design</title>
		<link rel="stylesheet" type="text/css" href="../public/css/lib/iview.css">
		<link rel="stylesheet" type="text/css" href="../public/css/src/base.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/src/projects.css"/>
	</head>
	<body>
		<div class="projects" v-cloak :style="projectStyle">
			{% if status == '200' %}
			<ul class="opt_ul" :style="optUlStyle">
				{% if user.roles[0].name != "" %}
					<li class="zan_btn">
						<i-button :icon="'{{user.roles[0].name}}' == 'vip' || '{{user.roles[0].name}}' == 'admin'  ? 'i-icon iconfont icon-medal' : 'i-icon iconfont icon-zan1'" @click="zan('{{data.userId}}','{{user.roles[0].name}}')" :type="artifactZanTag ? 'success' : 'default'" size="large" title="赞"></i-button>
					</li>
				{% else %}
					<li class="zan_btn">
						<i-button icon="i-icon iconfont icon-zan1" @click="zan('{{data.userId}}','{{user.roles[0].name}}')" size="large" title="赞"></i-button>
					</li>
				{% endif %}
				<li class="edit_btn" v-if="( '{{user.roles[0].name}}' == 'vip' && '{{data.topics[0].userId}}' == '{{user.Id}}' && {{data.topics.length}} != 0 ) || '{{user.roles[0].name}}' == 'admin'">
					<i-button icon="i-icon iconfont icon-score" @click="showScoreBox($event)" size="large" title="打分"></i-button>
				</li>
				{% if data.jobTag == 2 %}
					<li class="edit_btn" v-if="'{{data.userId}}' == '{{user.Id}}'">
						<i-button icon="md-create" @click="editArtifact('{{data.jobTag}}')" size="large" title="修改"></i-button>
					</li>
					<li class="delete_btn" v-if="'{{data.userId}}' == '{{user.Id}}'">
						<i-button icon="ios-trash" @click="deleteArtifact" size="large" title="删除"></i-button>
					</li>
				{% else %}
					{% if data.topics[0].status == 0 %}
						<li class="edit_btn" v-if="'{{user.roles[0].name}}' == 'admin' || '{{data.topics[0].userId}}' == '{{user.Id}}' || '{{data.userId}}' == '{{user.Id}}'">
							<i-button icon="md-create" @click="editArtifact('{{data.jobTag}}')" size="large" title="修改"></i-button>
						</li>
						<li class="delete_btn" v-if="'{{user.roles[0].name}}' == 'admin' || '{{data.topics[0].userId}}' == '{{user.Id}}' || '{{data.userId}}' == '{{user.Id}}'">
							<i-button icon="ios-trash" @click="deleteArtifact" size="large" title="删除"></i-button>
						</li>
					{% endif %}
				{% endif %}
				<li class="show_btn" v-if="'{{user.roles[0].name}}' == 'admin' || '{{data.topics[0].userId}}' == '{{user.Id}}'">
					<i-button :icon="'{{data.visible}}' == 0 ? 'md-eye-off' : 'md-eye'" @click="showArtifact({{data.visible}})" size="large" :title="'{{data.visible}}' == 0 ? '隐藏' : '开放'"></i-button>
				</li>
			</ul>
			<i-button class="close_btn" type="default" shape="circle" icon="md-close" size="large" @click="closeThePage"></i-button>
			<back-top :right="backTopRight"></back-top>
            <div class="project_detail">
                <div class="stats_tags">
                    <div class="badges">
						<icon custom="i-icon iconfont icon-medal" style="font-size: 20px;color:#999;"></icon>
                        <span>{{data.medalCount}}</span>
                    </div>
                    <div class="likes">
						<icon custom="i-icon iconfont icon-zan1" style="font-size: 18px;color:#999;"></icon>
                        <span>{{data.likeCount}}</span>
                    </div>
                    <div class="comments">
						<icon custom="i-icon iconfont icon-comment" style="font-size: 16px;" color="#999"></icon>
                        <span>{{data.commentCount}}</span>
                    </div>
                </div>
				<p class="score" v-if="{{data.artifact_scores.length}} && '{{data.artifact_scores[0]}}' != '' && '{{data.artifact_scores[0]}}' != null" v-text="'{{data.artifact_scores[0].score}}' + '分'"></p>
				<p class="score" v-if="'{{data.artifact_scores.length}}' == 0" v-text="'未打分'"></p>
                <div class="user_info">
                    <a href="/users/{{data.user.Id}}">
						{% if data.user.avatarUrl %}
						<img class="photo" src="{{data.user.avatarUrl}}" alt="">
						{% else %}
                        <img class="photo" src="../public/images/default_profile.jpg" alt="">
						{% endif %}
                        <p class="name">{{data.user.fullname}}</p>
                    </a>
                </div>
								{% if data.teamworker.length %}
								<p style="color:#68686B;font-size:13px;margin-top:12px">
									协作者：<font style="color:#0ABC73" v-for="item in teamworkerData('{{data.teamworker}}')" v-text="item.fullname +'，'"></font>
								</p>
								{% endif %}
								</p>
                <h2>{{data.name}}</h2>
				{% if data.topics.length %}
	                <p class="publishtime">
	                    {{data.createAt.getFullYear()}}-{{data.createAt.getMonth() + 1}}-{{data.createAt.getDate()}}，收录于
							{% for item in data.topics %}
		                    		<a href="/workFolder/{{data.topics[0].Id}}">{{item.name}}</a>
							{% endfor %}
	                </p>
				{% else %}
					<p class="publishtime">
						{{data.createAt.getFullYear()}}-{{data.createAt.getMonth() + 1}}-{{data.createAt.getDate()}}，收录于
							<a href="/users/{{data.user.Id}}">{{data.user.fullname}}的作品集</a>
					</p>
				{% endif %}
                <p class="abstract">
                    {{data.description}}
                </p>
	            <div class="main_content">
					{% for item in data.artifact_assets %}
						{% if item.viewUrl %}
							<figure class="attach_figure">
								<i-button v-if="{{item.type}} == 3" shape="circle" icon="md-albums" type="default" size="large" @click="downAttach('{{item.mediaFile}}')" style="position: absolute;margin-left: 10px;margin-top: 10px;"></i-button>
								<i-button v-if="{{item.type}} == 5 && '{{item.mediaFile}}' != ''" shape="circle" icon="logo-html5" type="default" size="large" @click="downAttach('{{item.mediaFile}}')" style="position: absolute;margin-left: 10px;margin-top: 10px;"></i-button>
								<i-button v-if="{{item.type}} != 3 && {{item.type}} != 5" shape="circle" icon="md-arrow-dropright-circle" type="default" size="large" @click="downAttach('{{item.mediaFile}}')" style="position: absolute;margin-left: 10px;margin-top: 10px;"></i-button>
								<a :href="'{{item.mediaFile}}' != '' ? '{{item.mediaFile}}' : 'javascript:void(0)'" target="_blank">
									<img src="{{item.profileImage}}" alt="">
									<figcaption>
										{% if item.name %}
										<span class="title">{{item.name}}</span>
										{% endif %}
										{% if item.description %}
										<span class="description">{{item.description}}</span>
										{% endif %}
									</figcaption>
								</a>
							</figure>
						{% else %}
							<figure>
								<img src="{{item.profileImage}}" alt="">

								<figcaption>
									{% if item.name %}
									<span>{{item.name}}</span>
									{% endif %}
									{% if item.description %}
									<span class="description">{{item.description}}</span>
									{% endif %}
								</figcaption>

							</figure>
						{% endif %}
					{% endfor %}
	            </div>
            </div>
			<div class="comment_box">
				<ul class="comment_list">
					<li v-for="(item,index) in dataList">
						<div class="user_info">
							<a :href="'/users/'+item.user.Id">
								<img class="photo" :src="item.user.avatarUrl ? item.user.avatarUrl : '../public/images/default_profile.jpg'">
							</a>
						</div>
						<div class="comment_wrapper">
							<a :href="'/users/'+item.user.Id" class="name">${ item.user.fullname }</a>
							<i-button class="delete_comment" v-if="'{{user.roles[0].name}}' == 'admin' || item.user.Id == '{{user.Id}}'" type="error" shape="circle" icon="md-trash" @click="deleteComment(item.Id)"></i-button>
							<p class="comment">${item.content}</p>
							<p class="createAt" v-text="index+1+'楼 ' + item.commentAt.replace('T',' ').split('.')[0]"></p>
						</div>
					</li>
				</ul>
				{% if user.Id %}
				<div class="comment_form">
					<div class="user_info">
						<a href="/users/{{user.Id}}">
							{% if user.avatarUrl %}
							<img class="photo" src="{{user.avatarUrl}}" alt="">
							{% else %}
	                        <img class="photo" src="../public/images/default_profile.jpg" alt="">
							{% endif %}
						</a>
					</div>
					<div class="comment_wrapper">
						<a href="/users/{{user.Id}}" class="name">{{user.fullname}}</a>
						<i-form>
							<form-item>
								<i-input v-model="artifactCommentData.content" type="textarea" placeholder="您的评论……" /><br>
							</form-item>
							<form-item>
								<i-button type="success" :disabled="disableComment" @click="addComment('{{user.Id}}')">提交</i-button>
							</form-item>
						</i-form>
					</div>
				</div>
				{% else %}
				<div class="comment_form">
					<i-button type="warning" to="/login">发表评论前请先登录</i-button>
				</div>
				{% endif %}
			</div>
			<modal v-model="deleteModal" @on-ok="ok" title="警告！！！">
		        <p style="color:#ed3f14;text-align:center">
		            <icon type="information-circled"></icon>
		            <span style="font-size: 15px;">确定删除该作品?</span>
		        </p>
		    </modal>
			<div class="score_box" :style="scoreBoxStyle" v-show="scoresModel">
				<icon class="scoreClose" type="md-close" @click="scoreClose" style="font-size: 22px;color:#999;"></icon>
				<h2 class="title">作业评分</h2>
				<i-input type="text" value="{{data.artifact_scores[0].score}}" @on-change="scoreChange(event,{{data.Id}})" placeholder="0~100之间的整数" size="large" number autofocus></i-input>
				<i-button type="success" @click="submitScore">打分</i-button>
			</div>
			<div class="footer">
				<p>© 2020 中意工业设计(湖南)有限责任公司。本网站系统由湖南四合院子设计有限公司版权所有。本网站收录作品的相关权利归原作者所有。</p>
				<p><a href="http://www.beian.miit.gov.cn" target="_blank" style="color:#999;cursor:hand">湘ICP备15008968号-3</a></p>
			</div>
			{% else %}
				<p class="visibleText" v-text="'{{data}}'"></p>
			{% endif %}
		</div>

		<script type="text/javascript" src="../public/js/lib/jquery.min.js"></script>
	    <script type="text/javascript" src="../public/js/lib/vue.min.js"></script>
		<script type="text/javascript" src="../public/js/lib/iview.min.js"></script>
		<script type="text/javascript" src="../public/js/lib/lodash.js"></script>
	    <script type="text/javascript" src="../public/js/src/config.js"></script>
	    <script type="text/javascript" src="../public/js/src/projects.js"></script>
	</body>
</html>
