{% extends "parent.html" %}

{% block cssfolder %}
	<link rel="stylesheet" type="text/css" href="public/css/lib/iview.css">
	<link rel="stylesheet" type="text/css" href="public/css/src/base.css"/>
	<link rel="stylesheet" type="text/css" href="public/css/src/model.css">
	<link rel="stylesheet" type="text/css" href="public/css/src/workManager.css"/>
{% endblock %}

{% block head_btn %}
	<i-col :xs="0" :sm="2" :md="2" :lg="2"><a href="/" style="display: flex;flex-direction: row;justify-content: center;width: 100%;height: 100%;background:#333;color: white;">精选</a></i-col>
	<i-col :xs="4" :sm="2" :md="2" :lg="2"><a href="/topicsAbout" style="display: flex;flex-direction: row;justify-content: center;width: 100%;height: 100%;background:#333;color: white;">毕设展</a></i-col>
	<i-col :xs="0" :sm="2" :md="2" :lg="2"><a href="/topics" style="display: flex;flex-direction: row;justify-content: center;width: 100%;height: 100%;background:#333;color: white;">作业荚</a></i-col>
{% endblock %}


{% block container %}
	<div class="container" :style="containerStyle">
		<i-col span="24">作品管理</i-col><br/><br/>
        <div class="search_box" style="">
			<label>筛选规则：</label>
			<i-select :value="groupModel" style="width:120px" @on-change="groupCheck">
		        <i-option :value="0" :key="0">作品标题</i-option>
                <i-option :value="1" :key="1">标签</i-option>
		    </i-select>
            <i-input class="search_input" v-model="searchValue" placeholder="输入搜索信息" prefix="ios-search"></i-input>
		</div>
        <i-table stripe :columns="columns" :data="dataList" style="margin-top:20px;" ></i-table>
        <page v-model="totalPage" :page-size="12" :current="1" :total="totalPage" @on-change="pageChange" show-total style="margin-top:20px;text-align:center;"></page>
	</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="public/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="public/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="public/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="public/js/lib/vue-resource.js"></script>
	<script type="text/javascript" src="public/js/src/config.js"></script>
	<script type="text/javascript" src="public/js/src/workManager.js"></script>
{% endblock %}
