<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>毕设展</title>
  <link rel="stylesheet" href="/public/css/lib/animate.min.css"/>
  <link href="/public/css/src/mobile/basic.css" rel="stylesheet" />
  <link href="/public/css/src/mobile/graduate.css" rel="stylesheet" />
</head>
<body>
  <div id="content">
    <header-menu v-bind:menu-item-num="2"></header-menu>
    <div class="filter_panel">
      <div class="condition_btn_selected">全部</div>
      <div class="condition_btn_noraml">开放中</div>
      <div class="condition_btn_noraml">已存档</div>
      <div class="condition_btn_noraml">由我创建</div>
    </div>
    <div>
      <div  v-for="elem in dataList" :key="elem.key" class="panel_card">
        <p class="graduate_title">${elem.name}</p>
        <p class="graduate_info">${elem.createAt.substring(0,10)} 创建&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;${elem.user.gender} 件作品</p>
        <div class="image_list">
          <div v-for="image in elem.artifacts" :key="elem.key">
            <img :src="image.profileImage" />
          </div>

        </div>
        <div class="line"></div>
        <div class="user_info">
          <img :src="elem.user.avatarUrl ? elem.user.avatarUrl : '/public/images/mobile/default_head_img.png' "/><span>${elem.user.fullname}</span>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/public/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/lib/vue.min.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/component/header-menu.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/graduate.js" type="text/javascript"></script>
</html>
