<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>修改密码</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css"/>
  <link href="/public/css/src/mobile/updatepwd.css" rel="stylesheet" />
</head>
<body>
  <div id="content">
    <div class="banner">
      <img src="/public/images/mobile/back.png" class="backicon"/><span>修改密码</span>
    </div>
    <div class="title">修改密码</div>
    <div class="input_panel">
      <i-input v-model="pwd1" placeholder="请输入密码" style="width: 80%;margin-bottom:15px;" ></i-input>
      <i-input v-model="pwd2" placeholder="请再次确认密码" style="width: 80%;margin-bottom:15px;" ></i-input>
    </div>
    <div class="back_btn">修改密码</div>
  </div>
</body>
<script src="/public/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/lib/vue.min.js" type="text/javascript"></script>
<script src="/public/js/lib/iview.min.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/updatepwd.js" type="text/javascript"></script>
</html>
