<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>作业荚</title>
  <link rel="stylesheet" href="/public/css/lib/animate.min.css"/>
  <link rel="stylesheet" href="/public/css/lib/iview.css"/>
  <link href="/public/css/src/mobile/basic.css" rel="stylesheet" />
  <link href="/public/css/src/mobile/workpod.css" rel="stylesheet" />
</head>
<body>
  <div id="content">
    <header-menu v-bind:menu-item-num="3" v-bind:user-id="'{{user.Id}}'" v-bind:avatar-url=" '{{user.avatarUrl}}' " v-bind:fullname=" '{{user.fullname}}' "></header-menu>
    <div class="filter_panel">
      <div id="all_btn" class="condition_btn_selected" @click="allBtnClick">全部</div>
      <div id="open_btn" class="condition_btn_noraml" @click="openBtnClick">开放中</div>
      <div id="save_btn" class="condition_btn_noraml" @click="saveBtnClick">已存档</div>
      {% if user %}
        <div id="create_by_me_btn" class="condition_btn_noraml" @click="createByMeBtnClick">由我创建</div>
      {% endif %}
    </div>
    <div style="position:relative">
      <Spin fix size="large" v-if="spin_show"></Spin>
      <div  v-for="elem in dataList" :key="elem.key" class="panel_card" @click="workpodCardClick(elem.Id)">
        <p class="title">${elem.name}</p>
        <p class="info">${elem.createAt.substring(0,10)} 创建&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;${elem.user.gender} 件作品</p>
        <div class="image_list">
          <div v-for="image in elem.artifacts" :key="elem.key" @click.stop="artifactClick(image.Id)">
            <img :src="image.profileImage" />
          </div>

        </div>
        <div class="line"></div>
        <div class="user_info" @click="fullnameClick({{elem.user.Id}})">
          <img :src="elem.user.avatarUrl ? elem.user.avatarUrl : '/public/images/mobile/default_head_img.png' "/><span>${elem.user.fullname}</span>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/public/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/lib/vue.min.js" type="text/javascript"></script>
<script src="/public/js/lib/iview.min.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/component/header-menu.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/workpod.js" type="text/javascript"></script>
</html>
