<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>个人作品集</title>
  <link rel="stylesheet" href="/public/css/lib/animate.min.css"/>
  <link rel="stylesheet" href="/public/css/lib/iview.css"/>
  <link href="/public/css/src/mobile/menu2.css" rel="stylesheet" />
  <link href="/public/css/src/mobile/workset.css" rel="stylesheet" />
</head>
<body>
  <div id="content">
    <header-menu v-bind:user-id="'{{user.Id}}'" v-bind:avatar-url=" '{{user.avatarUrl}}' " v-bind:fullname=" '{{user.fullname}}' "></header-menu>
    <div style="position:relative">
      <Spin fix size="large" v-if="spin_show"></Spin>
      <div>
        <p class="title">${userInfo.fullname}的作品集</p>
        <p class="info">${userInfo.createAt} 创建&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <img src="/public/images/mobile/upload_cloud.png"/><span>${userInfo.artifactCount}</span>
          <img src="/public/images/mobile/medal.png"/><span>${userInfo.medalCount}</span>
          <img src="/public/images/mobile/like_gray.png"/><span>${userInfo.likeCount}</span>
          <img src="/public/images/mobile/comment.png"/><span>${userInfo.commentCount}</span>
        </p>
      </div>
      <div class="user_info">
        <img :src="userInfo.avatarUrl ? userInfo.avatarUrl : '/public/images/mobile/default_head_img.png' "/><span>${userInfo.fullname}</span>
      </div>
      <p class="desc">${userInfo.intro}</p>
      <div class="split_line"></div>
      <div class="list_content">
        <div class="panel_card" v-for="(elem, index) in dataList" :key="elem.key" @click="cardClick(elem.Id)">
            <div class="product_zone">
              <img :src="elem.profileImage"/>
              <p class="product_name">${elem.name}</p>
              <p class="topic_name" v-if="elem.topics.length > 0" >${elem.topics[0].name}</p>
              <div class="product_line"></div>
              <div class="operate_zone">
                <img src="/public/images/mobile/medal.png"/><span>${elem.medalCount}</span>
                <img src="/public/images/mobile/like_gray.png"/><span>${elem.likeCount}</span>
                <img src="/public/images/mobile/comment.png"/><span>${elem.commentCount}</span>
                <span class="product_time">${elem.createAt.substring(0,10)}</span>
              </div>

            </div>
        </div>
      </div>
    </div>
</div>
</body>
<script src="/public/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/lib/vue.min.js" type="text/javascript"></script>
<script src="/public/js/lib/iview.min.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/component/menu2.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/workset.js" type="text/javascript"></script>
</html>
