<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>作业荚</title>
  <link rel="stylesheet" href="/public/css/lib/animate.min.css"/>
  <link href="/public/css/src/mobile/basic.css" rel="stylesheet" />
  <link href="/public/css/src/mobile/menu2.css" rel="stylesheet" />
  <link href="/public/css/src/mobile/workpoddetail.css" rel="stylesheet" />
</head>
<body>
  <div id="content">
    <header-menu v-bind:user-id="'{{user.Id}}'" v-bind:avatar-url=" '{{user.avatarUrl}}' " v-bind:fullname=" '{{user.fullname}}' "></header-menu>
    <div v-if="work_info">
      <div>
        <p class="title">${work_info.name}</p>
        <p class="info">${work_info.createAt.substring(0,10)} 创建&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;${product_count} 件作品</p>
      </div>
      <div class="user_info">
        <img :src="work_info.user.avatarUrl ? work_info.user.avatarUrl : '/public/images/mobile/default_head_img.png' "/><span>${work_info.user.fullname}</span>
      </div>
      <p class="desc">${work_info.description}</p>
      <div class="split_line"></div>
      <div class="list_content">
        <div class="panel_card" v-for="(elem, index) in dataList" :key="elem.key" @click="cardClick(elem.Id)">
            <div class="product_zone">
              <img :src="elem.profileImage"/>
              <p class="product_name">${elem.name}</p>
              <div class="operate_zone">
                <img src="/public/images/mobile/medal.png"/><span>${elem.medalCount}</span>
                <img src="/public/images/mobile/like_gray.png"/><span>${elem.likeCount}</span>
                <img src="/public/images/mobile/comment.png"/><span>${elem.commentCount}</span>
              </div>
            </div>
            <div class="product_line"></div>
            <div class="function_zone">
              <div class="user_info">
                <img :src="elem.user.avatarUrl ? elem.user.avatarUrl : '/public/images/mobile/default_head_img.png' "/>
                <span>${elem.user.fullname}</span>
              </div>
              <span class="product_time">${elem.createAt.substring(0,10)}</span>
            </div>
        </div>
      </div>
      </div>


  </div>
</body>
<script src="/public/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/lib/vue.min.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/component/menu2.js" type="text/javascript"></script>
<script src="/public/js/src/mobile/workpoddetail.js" type="text/javascript"></script>
</html>
